html {
    height: 100%;
}

body {
	background: #242629;
    min-height: 100%;
}

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#main article {
	opacity: 1;
}

#main article .content {
    position: relative;
}

#main article content h2 {
	position: absolute;
    bottom: .2em;
}

#main article img {
	display: block;
}

#main article h2,
#main article .badge {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    bottom: .3em;
    text-shadow: 0 0 5px #000000;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    z-index: 1;
}

#main article h2 {
	color: #DDDDDD;
	left: .5em;
    margin: 0;
    padding: 0;
}

.badge {
    line-height: 1;
    text-shadow: 0 0 5px #000000;
    font-size: 1.2em;
    font-weight: bold;
}

.badge .rating {
    color: #FFFFFF;
    text-align: right;
    display: block;
}

.badge h5 {
    font-size: .7em;
    display: block;
    margin: 0;
    padding: 0;
}

#main article .badge {
    right: .5em;
}

#page, #page h1 {
    color: #EEEEEE;
}

#page .show-data .image {
    margin: 0;
    padding: 0;
}

#page .show-data h1 {
    margin: 0 0 .25em 0;
    padding: .25em 0;
    text-align: center;
    border-bottom: 1px solid #AAAAAA;
}

#page .show-data h1 a {
    color: #EEEEEE;
    font-size: 1.5em;
    font-weight: bold;
}

#page .show-data .metadata {
    border-bottom: 1px solid #AAAAAA;
    padding: .25em 0;
}

#page .show-data .metadata ul {
    list-style: none;
    margin: 0 0 0 0;
    width: 75%;
    display: inline-block;
}

#page .show-data .metadata .badge {
    vertical-align: top;
    display: inline-block;
    padding-top: .25em;
    font-size: 3em;
    width: 20%;
}

#page .show-data .watch {
    margin: .5em 0 0 0;
    padding: 0;
}

#page .show-data .watch h4 {
    color: #FFFFFF;
    margin: .5em 0;
    padding: 0;
    font-weight: bold;
}

#page .show-data .watch ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#page .show-data .watch li {
    margin: 0 0 .35em 0;
    padding: 0;
    display: inline-block;
}

#page .show-data .watch li a {
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    font-weight: bold;
    padding: .25em;
    display: inline-block;
}

#page table {
    color: #EEEEEE;
    max-width: 50em;
}

#page table th {
    color: #EEEEEE;
}

/* Footer */

#footer .copyright {
	color: #505051;
	font-size: 0.9em;
}

#footer .copyright a {
    color: inherit;
}
