{% extends "base.html" %}

{% block content %}
    <div id="main" class="tile is-ancestor">
        {% for article in articles %}
        <article class="tile is-4">
            <div class="content">
                <a href="/{{article.url}}" class="image">
                    <img src="/theme/images/shows/{{article.slug}}.png" alt="{{article.title}}" />
                    <h2>{{article.title}}</h2>
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}
